In [1]:
import pandas as pd
data_full = pd.read_csv("../data/processed/full_all_day_ahead.csv")
data_full.columns.to_frame()

                 0
Date          Date
ACWO_1      ACWO_1
ACWO_2      ACWO_2
ACWO_3      ACWO_3
ACWO_4      ACWO_4
...            ...
OP42          OP42
OP43          OP43
OP44          OP44
OP45          OP45
Abnormal  Abnormal

[117 rows x 1 columns]